<div class="row">

	<div class="col-md-12">

		<h1>Usage</h1>

		<p>
			Just copy the file to your project and link the source <code>idai-components-[version].min.js</code>
			from your project's index.html.
		</p>

		<pre>&lt;script src="dest/idai-components-0.9.0.min.js"&gt;&lt;/script&gt;</pre> 

		<p>
			Do this after the angular link and before the links to your application 
			scripts, which make use of the library.
		</p>

		<p>
			Include these dependencies from within your main module:
		</p>

		<pre>
angular.module('sampleApp',[
	'idai.components',
	'idai.templates'
]);</pre>

		<p>
			See the pages linked in the top menu for detailed documentation of the different components.
		</p>

	</div>

</div>