/**
 * @author: Jan G. Wieners
 */
#headerlink {
  text-decoration: none;
}

#teaser {
  height: 50vh;
  background-size: cover;
  padding: 0;
  margin: 0 -15px 0 -15px;

  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;

  overflow: hidden;
}

#teaser:hover {
  opacity: 0.9;
}

#teaser .description {
  text-align: right;
  padding: 10px 15px 0 0;
  color: #fff;

  opacity: 0.2;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -ms-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
}

#teaser:hover .description {
  opacity: 1.0;
}