.custom-popup-wrapper {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  background-color: #f9f9f9;
  display: table;
}

.custom-popup-wrapper > .message {
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
  color: #868686;
}

.custom-popup-wrapper p {
  padding-left: 10px;
  color: #a8a8a8;
}

.custom-popup-wrapper > .dropdown-menu {
  /*position: static;*/
  float: none;
  min-width: 160px;
  background-color: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
  display: table-header-group;
}