<div ng-hide="$root.hideFooter" class="row idai-footer">
	<div class="col-md-12 text-center">
		<p>
			<a href="http://www.dainst.org/" target="_blank"><img src="img/logo_dai.png" height="60px" style="margin-right: 20px;"></a>
			<a href="http://archaeologie.uni-koeln.de" target="_blank"><img src="img/logo_unikoeln.png" height="50px" style="margin-right: 20px;"></a>
			<a href="http://archaeologie.uni-koeln.de/node/23" target="_blank"><img src="img/logo_codarchlab.png" height="25px"></a>
		</p>
		<p>
			{{'footer_licensed_under'|transl8}}
			<a rel="license" href="info/order">Creative Commons</a> |
			<span ng-repeat="link in dynamicLinkList">
				<a href="info/{{link.id}}">{{link.title}}</a> |
			</span>
			{{'footer_bugs_to'|transl8}}
			<a href="mailto:{{mailto}}">{{mailto}}</a></p>
	</div>
</div>