<style>
    #footer .row {
        padding-bottom: 10px;
    }
</style>
<div class="row">
    <div class="col-md-12 text-center">
        <div class="row">
            <a ng-repeat="(key, uri) in institutions" ng-href="{{uri}}">
                <img class="logoImage" ng-src="img/logo_{{key}}.png">
            </a>
        </div>

        <div class="row" ng-if="hasTranscludedContent" ng-transclude></div>

        <div class="row">

            <div ng-if="!hasTranscludedContent" style="display: inline-block;">
                {{'footer_licensed_under'|transl8}}
                <a rel="license" href="info/order">Creative Commons</a> |&nbsp;
            </div>
            <span ng-repeat="link in dynamicLinkList">
				<a href="info/{{link.id}}" class="linkitem">{{link.title}}</a>&nbsp;|&nbsp;
		    </span>
            {{'footer_bugs_to'|transl8}}
            <a href="mailto:{{mailto}}">{{mailto}}</a>

        </div>
        <div class="row" ng-show="version">
            <small>{{version}}</small>
        </div>
    </div>
</div>