.navbar {

  border: 0;

  .idai-navbar-search {

    .input-group {
      float: left;
      width: calc(100% - #{$idai-navbar-search-width-diff});
    }
  }

  #brand-img {

    height: 38px;
    margin-top: -16px;
    margin-bottom: -14px;
  }

  // display arrow on top of dropdown menu for idai.world menu
  .nav > li > .dropdown-menu:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #fff;
    position: absolute;
    top: -7px;
    left: 25px;
  }

  .idai-welt-menu .dropdown-menu > li > a {
    clear: both !important;
    color: #333 !important;
    display: block !important;
    font-weight: 400 !important;
    line-height: 1.42857 !important;
    padding: 3px 20px !important;
    white-space: nowrap !important;
  }

  .navbar-nav > li > a {
    padding: 15px 11px 15px 11px;
  }

  input {
    margin: 8px 0 !important;
  }

  ///////////// Size dependent //////////////////


  // High screen resolutions
  @media (min-width: $screen-lg) {

    .idai-navbar-search {

      width: calc(100% - #{$screen-lg-navbar-search-width-diff});
      float: left;
      display: inline;

      .custom-popup-wrapper, .custom-popup-wrapper .dropdown-menu {
        width: 100%;
      }

      .custom-popup-wrapper li a {
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .input-group  {
        float: left;
        margin-bottom: 0;
        position: relative;
        width: 100%;
        z-index: 2;
      }
    }
  }

  @media (min-width: $idai-screen-xl) {
    .idai-navbar-search {

      width: $idai-screen-xl-navbar-search-width;
      float: left;
      display: inline;
    }
  }

  // Small and medium sized screen resolutions
  @media (max-width: $screen-lg) {

    .navbar-left {
      float: none !important;
    }

    form {
      margin: 0;
    }

    .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse {
      padding-left: 15px;
      padding-right: 15px;
    }

    .navbar-nav {
      //float: none !important;
      margin: 0;
    }

    .navbar-nav > li {
      float: none;
    }

    .navbar-collapse {
      box-shadow: none;
    }

    .nav > li > .dropdown-menu::before {
      border-bottom: 7px solid #fff;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      content: "";
      display: inline-block;
      left: 25px;
      position: absolute;
      top: -7px;
    }

    .navbar-nav > li > .dropdown-menu {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      margin-top: 0;
    }
  }

  // Very small screen resolutions
  @media (max-width: $screen-xs) {

    .idai-navbar-search {
      display: none;
      padding-right: 0;
      padding-left: 3px;
      background-color: #00b3ee;
    }
  }

  @media screen and (max-width: 372px) {

    #projectLogo {
      display: none;
    }
  }
}